.git
.gitignore
.dockerignore
.venv
venv
__pycache__
**pycache**/
*.pyc
*.pyo
*.pyd
.pytest_cache
*.sqlite
*.db
data/
.env
postgres-data/
backups/
Dockerfile
docker-compose.yml
README.md
CVS
.svn
.hg
.gitattributes
