google-api-python-client
google-genai
python-dotenv
pandas
streamlit
isodate
requests
ollama
# Optional:
# openai
# groq

# PostgreSQL integration
psycopg2-binary
sqlalchemy

# Backend API & migrations
fastapi
uvicorn[standard]
alembic
pydantic-settings
